{% extends "::base.html.twig" %}

{% block title %}AppBundle:TodoListController:index{% endblock %}

{% block body %}
    <h1>Welcome to the TodoListController:index page</h1>

    <h3>Make new TODO list (push the button)</h3>
    {{ form(listForm) }}

    <h3>Todo Lists</h3>
    {% for list in lists %}
        <div class="list-block">
            <h4>#{{ loop.index }} List <a href="{{ path('removeList', {'id' : list.id}) }}">| Remove |</a></h4>
            <a href="{{ path('list', {'id' : list.id}) }}">To list (items)</a>
        </div>
    {% endfor %}
{% endblock %}
