{% extends "::base.html.twig" %}

{% block title %}AppBundle:TodoListController:index{% endblock %}

{% block body %}
    <h1>Welcome to the TodoListController:list page</h1>
    <a href="{{ path("homepage") }}">Back to homepage</a>

    <div class="list-block">
        {% for item in list.items %}
            <div class="list-item">
                <div>#{{ loop.index }}</div>
                <div class="content">{{ item.content }}</div>
                <div class="button">
                    <a href="{{ path('removeListItem', {'id' : item.id}) }}">Remove</a>
                    {% if item.done %}
                        <a href="{{ path('changeItemStatus', {'id' : item.id}) }}">Undo</a>
                    {% else %}
                        <a href="{{ path('changeItemStatus', {'id' : item.id}) }}">Done</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <h3>Add new item to List</h3>
    {{ form(listItemForm) }}
{% endblock %}